html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* make pencil icon for editting blue */
  .edit-note {
    color: blue;
    margin-right: 10px;
  }
  
  /* space around icons & size */
  /* change cursor so it's obvious it's clickable */
  .icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* color of text being editted changes */
  .note-textarea, .note-title {
    color:#18BC9C;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .note-textarea {
    resize: none;
    height: calc(100% - 63px);
    padding-top: 15px;
  }
  
  .note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem;
  }
  
  /* make it visually obvious it's a placeholder */
  ::placeholder {
    opacity: .5;
  }
  
  /* make it visually obvious it's not edittable */
  .note-title:read-only, .note-textarea:read-only {
    color: #757575;
  }
  
  .list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .list-container {
    padding-left: 0;
  }
  
  .list-container .list-group,
  .list-container .list-group-item:first-child,
  .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  /* use pointer to make it obvious it's clickable */
  .list-container i {
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
  }
  
  .display-note {
    /* so it looks like a button (it's clickable) */
    cursor: pointer;  
  }